@import '../../base/main.scss';

.download-button {
    background-color: $green;
    border: 1px solid $green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, opacity 0.3s;

    &:hover:not(:disabled) {
        background-color: $white;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}