@import '../../base/main.scss';

.scanner-section {
    width: 90%;
    
    .scanner-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 40px;
        justify-content: center;

        .axe-sentinel-logo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
            will-change: filter;
            transition: filter 300ms;
            &:hover {
                filter: drop-shadow(0 0 2em $yellow);
            }
        }

        h2 {
            margin: 0;
        }
    }
    
    h2 { color: rgb(255, 187, 0); };
    .conformance-level {
        h3 { margin-bottom: 0; };
        .level { 
            color: $yellow;
            font-weight: 600;
        };
    }

    .accessibilityIssues {
        margin-top: 0;
        margin-bottom: 4px;
    }

    .results-container { margin-top: 20px; }

    .results-scrollable {
        max-height: 520px;
        overflow-y: auto;
        border: 1px solid transparent;
        border-radius: 4px;
        padding-right: 5px;
        border-bottom: 4px solid $yellow;
        margin-block: 20px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgb(87, 243, 243);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: teal;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: maroon;
        }
    }
}