@import "../../base/main";

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 4px solid $yellow;
    position: relative;

    ul {
        position: absolute;
        top: 40px;
        left: 30px;
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            a, button {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: #333;
                background: none;
                border: none;
                width: 90%;
                text-align: left;
                cursor: pointer;
                width: 100%;

                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }

            &.active a {
                font-weight: bold;
                border-bottom: 3px solid $blue;
            }
        }
    }
    .accountLinks {
        top: unset;
        bottom: 20px;
        li {
            width: 137px;
        }
    }
}